@import "tailwindcss";
@font-face {
    font-family: 'Google Sans';
    src: url('/fonts/ProductSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Google Sans', sans-serif;
  }